<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar mt-2">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="ProfileService.img" alt="user" /><span class="hide-menu">{{ProfileService.nombre}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a target="_blank" [href]="ProfileService.likenid"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>


                        <li><a><i class="ti-wallet"></i> {{ProfileService.celular}}</a></li>
                        <li><a [href]="'mailto:'+ProfileService.correo"><i class="ti-email"></i> {{ProfileService.correo|slice:0:10}}...</a></li>
                        <li>
                            <a routerLink="/login"> <i class="ti-alert"></i> Log Out</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngFor="let item of menuItems">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu"> 
                            {{ item.titulo }} 
                            <span class="label label-rouded label-themecolor pull-right">
                                {{ item.submenu.length }}
                            </span>
                        </span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> {{ subMenuItem.titulo }} </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->